Repository V11hh/devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#4 Integrar arquitetura v1.0
  docs/arquitetura.md
Labels: arquitetura

#6 V1.0 programacao
  docs/arquitetura.md
  src/jogovelha.py
Labels: programação

#8 Integrar testes v1.0
  src/testes_inic.py
  src/testes_jogar.py
Labels: testes

#11 requisitos v.1.1
  docs/analise.md
Labels: análise

#13 atualização v1.1
  docs/requisitos.md
Labels: análise

#19 Update
  src/testes_inic2.py
  src/testes_jogar2.py
Labels: testes

#20 Atualização V1.1
  docs/analise.md
  docs/arquitetura.md
  docs/requisitos.md
  src/jogovelha2.py
  src/testes_inic2.py
  src/testes_jogar2.py
Labels: operações
